<div class="container">
  <div class="row">
    <div class="col-md-6">
      <!-- Carte pour afficher l'image de l'événement -->
      <div class="card mb-3">
        <img [src]="eventDetails.image" class="card-img-top" alt="Event Image">
      </div>
      <!-- Carte pour afficher les autres détails de l'événement -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ eventDetails.nomevennement }}</h5>
          <p class="card-text">Date: {{ eventDetails.date | date: 'dd/MM/yyyy' }}</p>
  
          <p class="card-text">Description: {{ eventDetails.discription }}</p>
          <p class="card-text">Localisation: {{ placeName }}</p>
          <p class="card-text">Nombre de place disponible: {{ eventDetails.placeMax }}</p>
          <p class="card-text">État: {{ eventDetails.etat }}</p>
          <p class="card-text">Type: {{ eventDetails.type }}</p>
          <!-- Bouton pour retourner à tous les événements -->
          <button routerLink="/afficherevennementfront" class="btn btn-primary mr-2">Retour </button>
          <!-- Bouton pour participer à l'événement -->
          <button (click)="participer()" class="btn btn-success">Participer </button>
          <p *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <!-- Carte pour afficher la position de l'événement -->
      <div class="card small-map"> <!-- Ajoutez la classe small-map ici -->
        <div class="card-body">
          <!-- Utilisation d'un marqueur pour afficher l'emplacement de l'événement -->
          <app-map [mapCenter]="[eventDetails.lat, eventDetails.lng]" [markers]="[{ lngLat: [eventDetails.lng, eventDetails.lat], id: 'event-marker' }]"></app-map>
        </div>
      </div>
    </div>
  </div>
</div>
